/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary-color: #3161E0;
    --primary-button: white;
    --secondary-button: #23272A;
    --text-color: #23272A;
    --section-bg: #F6F6F6;
    --thertiary-button: #7289DA;
    --title-text: #7289DA; 
    --secondary-text: white;
}

/* --------------------
    debug_section
-------------------- */
/* header_debug */
/* .debug #header{
    background-color: lightblue;
}

.debug #header .row {
    background-color: aqua;
    border: 3px black double;
}

.debug .logo , .debug .nav, .debug .button{
    background-color: orange;
    height: 1rem;
    border: 2px black dashed;
} */

/* hero_section_debug */
/* .debug .hero_section{
    background-color: aquamarine;
}

.debug .hero_section .container{
    border: 3px black double;
    background-color: antiquewhite;
    height: 60vh;
}

.debug .elements{
    border: 2px black dashed;
    background-color: blueviolet;
    width: 500px;
    height: 350px;

} */

/* invite_section , fandom_section */
/* .debug .invite_section, .debug .fandom_section{
    background-color: #ededed;
}

.debug .invite_section .container, .debug .fandom_section .container{
    border: 3px black double;
    background-color: antiquewhite;
    height: 60vh;
}

.debug section .row{
    align-items: center;
    height: inherit;
}

.debug section .row .img{
    height: 70%;
    border: 2px black dashed;
    background-color: blue;
}

.debug section .row .content{
    height: 70%;
    border: 2px black dashed;
    background-color: orangered;
} */

/* where_section */
/* .debug .where_section{
    background-color: rgb(182, 202, 220);
}

.debug .where_section .container{
    border: 3px black double;
    background-color: antiquewhite;
    height: 60vh;
} */

/* tech_section */
/* .debug .tech_section{
    background-color: rgb(182, 202, 220);
}

.debug .tech_section .container{
    border: 3px black double;
    background-color: antiquewhite;
    height: 80vh;
} */

/* footer */
/* .debug #footer{
    background-color: gray;
    height: 45vh;
}

.debug #footer .container{
    border: 3px black double;
    background-color: antiquewhite;
}

.debug .footer_top .container{
    height: 40vh;

}

.debug .footer_bottom .container{
    height: 5vh;

}

.debug .footer_top{
    height: 40vh;
}

.debug .footer_top .row{
    height: inherit;
    align-items: center;
}
.debug .footer_top .links{
    border: 2px black dashed;
    height: 80%;
    background-color: brown;
}

.debug .footer_top .info{
    border: 2px black dashed;
    height: 80%;
    background-color: lightcoral;
}


.debug .footer_bottom .row{
    justify-content: space-between;
    align-items: center;
    height: calc(5vh - 6px);
    
} */
/* --------------------
   /debug_section
-------------------- */



/* --------------------
   utilities_section
-------------------- */
.d-flex{
    display: flex;
}

.col-1{
    width: calc(100% / 12);
}

.col-2{
    width: calc(100% / 12 * 2);
}

.col-3{
    width: calc(100% / 12 * 3);
}

.col-4{
    width: calc(100% /12 * 4);
}

.col-5{
    width: calc(100% / 12 * 5);
}

.col-6{
    width: 50%;
}

.col-7{
    width: calc(100% / 12 * 7);
}

.col-8{
    width: calc(100% / 12 * 8);
}

.col-9{
    width: calc(100% / 12 * 9);
}

.col-10{
    width: calc(100% / 12 * 10);
}

.col-11{
    width: calc(100% / 12 * 11);
}

.col-12{
    width: 100%;
}
/* --------------------
  /utilities_section
-------------------- */



/* --------------------
     general_css
-------------------- */
/* header */
.container{
    width: 80%;
    margin: auto;
}

#header{
    background-color: var(--primary-color);

}
#header .row{
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.logo{
    align-items: center;
    cursor: pointer;
}

ul.d-flex{
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

li>a{
    color: var(--secondary-text)
}

.button{
    padding: .5rem 1rem;
    border-radius: 2rem;
    background-color: var(--primary-button);
    border-color: var(--primary-button);
    border-style: solid;
    cursor: pointer;
}

/* hero_section */
.hero_section{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5rem 15rem;

}
.hero_section .container{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--secondary-text);
}

.hero_section h1{
    font-size: 2.5rem;
}

p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

.arrow{
    vertical-align: auto;
    font-weight: bolder;
}

.elements .button{
    color: var(--text-color);
    margin-bottom: 5rem;
}

.elements :last-child{
    color: var(--secondary-text);
    background-color: var(--secondary-button);
    border-color: var(--secondary-button);
}

/* general_rule_section */
section{
    color: var(--text-color);
}

section .row{
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

section img{
    width: 100%;
}

section .content{
    padding-left: 4rem;
}

.title-2{
    font-size: 2rem;
}

.wave{
    height: 5rem;
    background-color: var(--primary-button);
    width: 100%;
}

.w_bottom{
    transform: rotate(180deg);
    height: 5.5rem;
}

/* fandom_section */
.fandom_section{
    margin-bottom: 4rem;
}

/* where_section, tech_section */
.where_section, .tech_section{
    background-color: var(--section-bg);
}

.tech_section .content{
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tech_section h3{
    background-image: url(../img/stars.svg);
    height: 4rem;
    width: max-content;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1.5rem 2.5rem 0;
    font-size: 1.5rem;
}

.tech_section .button{
    background-color: var(--thertiary-button);
    border-color: var(--thertiary-button);
    color: var(--secondary-text);
    margin-top: 1rem;
    margin-bottom: 4rem;
}

/* footer */
#footer{
    background-color: var(--secondary-button);
    color: var(--secondary-text);
    padding: 1rem;
}

.footer_top .row{
    padding-top: 5rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--title-text);
}

.links h3{
    color: var(--title-text);
    font-size: 1.5rem;
}

.links span{
    margin-top: 1rem;
    vertical-align: middle;
    display: inline-block;
}

.flag{
    vertical-align: middle;
}

.links img{
    height: 1rem;
    margin-top: 1rem;
}

.icons img{
    margin-right: 1rem;
}

.info ul{
    color: var(--title-text);
    font-weight: bold;
}

.info li{
    color: var(--secondary-text);
    margin-top: 1rem;
    font-weight: normal;
}

.footer_bottom .row{
    justify-content: space-between;
    margin-top: 1rem;
}

.footer_bottom .button{
    background-color: var(--thertiary-button);
    border-color: var(--thertiary-button);
    color: var(--secondary-text);
}
/* --------------------
     /general_css
-------------------- */